@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400&display=swap');

*{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: rgb(0, 0, 0);
    background-image: url('/Projeto-Individual-SENAC/img/estrelas.gif');
}
/* header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 160px;
    min-width: 375px;
}
header h1{
    font-size: 1.5rem;
    transition: 500ms linear;
}
header h1:hover{
    cursor: pointer;
    transform: scale(1.1);
}
header p{
    font-size: 1rem
}
.infos{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    color: white;
}
.infos img{
    width: 120px;
}
a{
    text-decoration: none;
    transition: 400ms linear;
}
a:hover{
    transform: scale(1.06);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 375px;
    height: 100vh
}
.fotoDePerfil{
    border-radius: 50%;
    border: 1px solid white;
    width: 220px;
    margin-bottom: 10px;
}
.fotoDePerfil:hover{
    border: 1px solid blue;
    transition: border 1s ease;
}
main h2{
    font-size: 2rem;
}
main p{
    font-size: 1.1rem;
}
.redesSociais{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 40px;
}
.redesSociais img{
    width: 28px
}
.seta{
    width: 128px;
    margin-top: 220px
}
#sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

@media (max-width: 775px) {
    header{
        justify-content: center;
        min-width: 500px;
    }
    header h1{
        display: none;
    }
    .infos p{
        font-size: 1.4rem;
    }
    main{
        margin-top: 160px;
        min-width: 500px;    
        height: 100vh
    }
    main h2{
        font-size: 3rem;
    }
    main p{
        font-size: 1.4rem;
    }
}
 */










/* CARD COMPLETO */
.card{
    height: 90vh;
    padding-top: 80px;
    padding-inline: 30px;
 }

 /* INICIO DO CABEÇALHO */
 header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    background-color: white;
    height: 10vh;

 }
 header h1{
    display: none;
 }
 .infos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
 }
 .infos a{
    color: #ba8a4d;
    font-weight: 400;
 }
 /* FIM DO CABEÇALHO */

 /* INICIO DO CONTEUDO PRINCIPAL */
 main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .fotoDePerfil{
    width: 220px;
    border-radius: 50%;
    border: 2px solid #ba8a4d;
 }
 .description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .description h2{
    margin-top: 16px;
    font-size: 1.8rem;
    color: white;
 }
 .description p{
    font-size: .9rem;
    margin-bottom: 23px;
    font-weight:300;
    color: white;
 }
 .redesSociais{
    display: flex;
    gap: 32px;
 }
 .redesSociais img{
    width: 28px;
 }
 /* FIM DO CONTEUDO PRINCIPAL */

 .seta{
    width: 64px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: auto;
 }

 /* INICIO SOBRE MIM, INTERESSE E CONTATO */
 .sobre, .interesse, .formulario{
    padding-inline: 21px;
    padding-block: 16px;
 }
 .sobre h2, .interesse h2, .formulario h2{
    font-size: 1.8rem;
    color: #ba8a4d;
    margin-bottom: 12px;
 }
 .sobre p, .interesse p{
    font-weight: 300;
 }
 .interesse p{
    color: white;
 }
 .sobre img{
    display: none;
 }
 #card-sobre, #card-formulario{
    background-color: rgb(255, 255, 255);
 }

 #name, #email, #msg{
    width: 100%;
    margin-bottom: 9px;
    background-color: gray;
    color: white;
    border: none;
    padding: 5px 0 5px 7px;
    border-radius: 3px;
    
 }
 ::-webkit-input-placeholder {
    color: white;
    margin-left: 4px;
 }
 #msg{
    height: 70px
 }
 .btn{
    width: 90px;
    height: 30px;
    font-size: 1rem;
    border: 1px solid gray;
 }
 /* FIM SOBRE MIM, INTERESSE E CONTATO */