@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');

*{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-color: rgb(0, 0, 0);
    padding-top: 30px;
    background-image: url('/Projeto-Individual-SENAC/img/estrelas.gif');
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
    height: 40px;
    min-width: 763px;
}
header h1{
    font-size: 1.4rem;
    transition: 500ms linear;
}
header h1:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.infos{
    display: flex;
    align-items: center;
    gap: 1.3rem;
    color: white;
}
.infos img{
    width: 120px;
}
a{
    text-decoration: none;
    transition: 400ms linear;
}
a:hover{
    transform: scale(1.06);

}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 763px;
}
.fotoDePerfil{
    border-radius: 50%;
    border: 1px solid white;
    width: 220px;
    margin-bottom: 10px;
}
.fotoDePerfil:hover{
    border: 1px solid blue;
    transition: border 1s ease;
}
main h2{
    font-size: 3rem;
}
main p{
    font-size: 1.3rem;
}
.redesSociais{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 40px;
}
.redesSociais img{
    width: 28px
}

